<!-- The News -->
<div class = "news">
    {{!-- <p style="display:flex; justify-content:space-around; font-size:30px;">Ανακοινώσεις</p>
    {{#if user.isAdmin}}
        <ul class = "news">
            {{#each news}}
                <li class = "post">
                    <h1 style = "color:red">{{title}}</h1>
                    <span>{{added}}</span>
                    <p style = "display:none">{{content}}</p>
                    
                </li>
                <button class = "delete-post">Διαγραφή</button>
            {{/each}}
            {{#if nextpage}}
                <a href = "homepage/?page={{nextpage}}"><button id = "next-page">Next</button></a>
            {{/if}}
            {{#if prevpage}}
                <a href = "./"><button id = "prev-page">Prev</button></a>
            {{/if}}
            
        </ul><br>
        
       
        <button id = "add-news">Προσθήκη ανακοίνωσης</button>
        <form action = "/homepage" method = "get">
            <input type = "text" placeholder = "Τίτλος"><br>
            <input type = "text" placeholder = "Περιεχόμενο"><br>
            <button id = "save-news">Αποθήκευση</button>
        </form>   
    {{/if}}  --}}
 
    
    <ul class = "news">
        {{#each news}}
            <li class = "post">
                <h1 style = "color:red">{{title}}</h1>
                <span>{{added}}</span>
                <p style = "display:none">{{content}}</p>
                
            </li>
            
        {{/each}}
        {{#if nextpage}}
            <a href = "homepage/?page={{nextpage}}"><button id = "next-page">Next</button></a>
        {{/if}}
        {{#if prevpage}}
            <a href = "./"><button id = "prev-page">Prev</button></a>
        {{/if}}
        
    </ul>
    
    {{#if user.isAdmin}}
                <button class = "delete-post">Delete</button>
            {{/if}}
    {{#if user.isAdmin}}    
        <button id = "add-news">Προσθήκη ανακοίνωσης</button>
        <form action = "/homepage" method = "get">
            <input type = "text" placeholder = "Τίτλος"><br>
            <input type = "text" placeholder = "Περιεχόμενο"><br>
            <button id = "save-news">Αποθήκευση</button>
        </form>   
    {{/if}}
    
    
</div>    

<script defer src ="/scripts/homepage.js"></script>


